drop SCHEMA if exists Movies;
CREATE SCHEMA if not exists Movies;
use Movies;

drop table if exists Rating;
drop table if exists Reviewer;
drop table if exists Movie_Genres;
drop table if exists Movie_Direction;
drop table if exists Movie_cast;
drop table if exists Movie;
drop table if exists Genres;
drop table if exists Director;
drop table if exists Actor;

--
-- Dummy data for table `Actor`
--

CREATE TABLE Actor(
	act_id int PRIMARY KEY,
	act_fname varchar(20) NULL,
	act_lname varchar(20) NULL,
	act_gender varchar(1) NULL
);

--
-- Table structure for table `Director`
-- 

CREATE TABLE Director(
	dir_id int PRIMARY KEY,
	dir_fname varchar(20) NULL,
	dir_lname varchar(20) NULL
);

--
-- Table structure for table `Genres`
-- 

CREATE TABLE Genres(
	gen_id int PRIMARY KEY,
	gen_title varchar(20) NULL
);

--
-- Table structure for table `Movie`
-- 
CREATE TABLE Movie(
	mov_id int PRIMARY KEY,
	mov_title varchar(50) NULL,
	mov_year int NULL,
	mov_time int NULL,
	mov_lang varchar(15) NULL,
	mov_dt_rel date NULL,
	mov_rel_country varchar(5) NULL
);

--
-- Table structure for table `Movie_cast`
-- 

CREATE TABLE Movie_cast(
	mov_id int NULL,
	act_id int NULL,
	role varchar(30) NULL
);

--
-- Table structure for table `Movie_Direction`
-- 

CREATE TABLE Movie_Direction(
	mov_id int NULL,
	dir_id int NULL
);

--
-- Table structure for table `Movie_Genres`
-- 

CREATE TABLE Movie_Genres(
	mov_id int NULL,
	gen_id int NULL
);

--
-- Table structure for table `Rating`
-- 

CREATE TABLE Rating(
	mov_id int NULL,
	rev_id int NULL,
	rev_stars numeric(4, 2) NULL,
	num_o_ratings int NULL
);

--
-- Table structure for table `Reviewer`
-- 

CREATE TABLE Reviewer(
	rev_id int NULL,
	rev_name varchar(30) NULL
);


--
-- Dummy data for table `Actor`
--


INSERT INTO  Actor (act_id, act_fname, act_lname, act_gender) VALUES (101, 'James', 'Stewart', 'M');
INSERT INTO  Actor (act_id, act_fname, act_lname, act_gender) VALUES (102, 'Deborah', 'Kerr', 'F');
INSERT INTO  Actor (act_id, act_fname, act_lname, act_gender) VALUES (103, 'Peter', 'OToole', 'M');


--
-- Dummy data for table `Director`
--


INSERT INTO   Director (dir_id, dir_fname, dir_lname) VALUES (201, 'Alfred', 'Hitchcock');
INSERT INTO   Director (dir_id, dir_fname, dir_lname) VALUES (202, 'Jack', 'Clayton');
INSERT INTO   Director (dir_id, dir_fname, dir_lname) VALUES (203, 'David', 'Lean');


--
-- Dummy data for table `Genres`
--


INSERT INTO   Genres (gen_id, gen_title) VALUES (1001, 'Action');
INSERT INTO   Genres (gen_id, gen_title) VALUES (1002, 'Adventure');
INSERT INTO   Genres (gen_id, gen_title) VALUES (1003, 'Animation');


--
-- Dummy data for table `Movie`
--


INSERT INTO   Movie (mov_id, mov_title, mov_year, mov_time, mov_lang, mov_dt_rel, mov_rel_country) VALUES (901, 'Vertigo', 1958, 128, 'English', CAST('1958-08-24' AS Date), 'UK');
INSERT INTO   Movie (mov_id, mov_title, mov_year, mov_time, mov_lang, mov_dt_rel, mov_rel_country) VALUES (902, 'The Innocents', 1961, 100, 'English', CAST('1962-02-19' AS Date), 'SW');
INSERT INTO   Movie (mov_id, mov_title, mov_year, mov_time, mov_lang, mov_dt_rel, mov_rel_country) VALUES (903, 'Lawrence of Arabia', 1962, 216, 'English', CAST('1962-12-11' AS Date), 'UK');


--
-- Dummy data for table `Movie_cast`
--


INSERT INTO Movie_cast (mov_id, act_id, role) VALUES (901, 101, 'John Scottie Ferguson');
INSERT INTO Movie_cast (mov_id, act_id, role) VALUES (902, 102, 'Miss Giddens');
INSERT INTO Movie_cast (mov_id, act_id, role) VALUES (903, 103, 'T.E. Lawrence');

--
-- Dummy data for table `Movie_Direction`
--


INSERT INTO   Movie_Direction (mov_id, dir_id) VALUES (901, 201);
INSERT INTO   Movie_Direction (mov_id, dir_id) VALUES (902, 202);
INSERT INTO   Movie_Direction (mov_id, dir_id) VALUES (903, 203);


--
-- Dummy data for table `Movie_Genres`
--


INSERT INTO   Movie_Genres (mov_id, gen_id) VALUES (922, 1001);
INSERT INTO   Movie_Genres (mov_id, gen_id) VALUES (917, 1002);
INSERT INTO   Movie_Genres (mov_id, gen_id) VALUES (903, 1002);


--
-- Dummy data for table `Rating`
--


INSERT INTO   Rating (mov_id, rev_id, rev_stars, num_o_ratings) VALUES (901, 9001, 8.40, 263575);
INSERT INTO   Rating (mov_id, rev_id, rev_stars, num_o_ratings) VALUES (902, 9002, 7.90, 20207);
INSERT INTO   Rating (mov_id, rev_id, rev_stars, num_o_ratings) VALUES (903, 9003, 8.30, 202778);



INSERT INTO   Reviewer (rev_id, rev_name) VALUES (9001, 'Righty Sock');
INSERT INTO   Reviewer (rev_id, rev_name) VALUES (9002, 'Jack Malvern');
INSERT INTO   Reviewer (rev_id, rev_name) VALUES (9003, 'Flagrant Baronessa');

