CREATE SCHEMA if not exists Movies;
use Movies;

drop table if exists Rating;
drop table if exists Reviewer;
drop table if exists Movie_Genres;
drop table if exists Movie_Direction;
drop table if exists Movie_cast;
drop table if exists Movie;
drop table if exists Genres;
drop table if exists Director;
drop table if exists Actor;



CREATE TABLE Actor(
	act_id int PRIMARY KEY,
	act_fname varchar(20) NULL,
	act_lname varchar(20) NULL,
	act_gender varchar(1) NULL
);

CREATE TABLE Director(
	dir_id int PRIMARY KEY,
	dir_fname varchar(20) NULL,
	dir_lname varchar(20) NULL
);

CREATE TABLE Genres(
	gen_id int PRIMARY KEY,
	gen_title varchar(20) NULL
);

CREATE TABLE Movie(
	mov_id int PRIMARY KEY,
	mov_title varchar(50) NULL,
	mov_year int NULL,
	mov_time int NULL,
	mov_lang varchar(15) NULL,
	mov_dt_rel date NULL,
	mov_rel_country varchar(5) NULL
);

CREATE TABLE Movie_cast(
	mov_id int NULL,
	act_id int NULL,
	role varchar(30) NULL
);

CREATE TABLE Movie_Direction(
	mov_id int NULL,
	dir_id int NULL
);


CREATE TABLE Movie_Genres(
	mov_id int NULL,
	gen_id int NULL
);

CREATE TABLE Rating(
	mov_id int NULL,
	rev_id int NULL,
	rev_stars numeric(4, 2) NULL,
	num_o_ratings int NULL
);


CREATE TABLE Reviewer(
	rev_id int NULL,
	rev_name varchar(30) NULL
);


INSERT Actor (act_id, act_fname, act_lname, act_gender) VALUES (101, N'James               ', N'Stewart             ', N'M');
INSERT Actor (act_id, act_fname, act_lname, act_gender) VALUES (102, N'Deborah             ', N'Kerr                ', N'F');
INSERT Actor (act_id, act_fname, act_lname, act_gender) VALUES (103, N'Peter               ', N'OToole              ', N'M');


INSERT Director (dir_id, dir_fname, dir_lname) VALUES (201, N'Alfred              ', N'Hitchcock           ');
INSERT Director (dir_id, dir_fname, dir_lname) VALUES (202, N'Jack                ', N'Clayton             ');
INSERT Director (dir_id, dir_fname, dir_lname) VALUES (203, N'David               ', N'Lean                ');



INSERT Genres (gen_id, gen_title) VALUES (1001, N'Action              ');
INSERT Genres (gen_id, gen_title) VALUES (1002, N'Adventure           ');
INSERT Genres (gen_id, gen_title) VALUES (1003, N'Animation           ');



INSERT Movie (mov_id, mov_title, mov_year, mov_time, mov_lang, mov_dt_rel, mov_rel_country) VALUES (901, N'Vertigo                                           ', 1958, 128, N'English        ', CAST(N'1958-08-24' AS Date), N'UK   ');
INSERT Movie (mov_id, mov_title, mov_year, mov_time, mov_lang, mov_dt_rel, mov_rel_country) VALUES (902, N'The Innocents                                     ', 1961, 100, N'English        ', CAST(N'1962-02-19' AS Date), N'SW   ');
INSERT Movie (mov_id, mov_title, mov_year, mov_time, mov_lang, mov_dt_rel, mov_rel_country) VALUES (903, N'Lawrence of Arabia                                ', 1962, 216, N'English        ', CAST(N'1962-12-11' AS Date), N'UK   ');


INSERT Movie_cast (mov_id, act_id, role) VALUES (901, 101, N'John Scottie Ferguson         ');
INSERT Movie_cast (mov_id, act_id, role) VALUES (902, 102, N'Miss Giddens                  ');
INSERT Movie_cast (mov_id, act_id, role) VALUES (903, 103, N'T.E. Lawrence                 ');



INSERT Movie_Direction (mov_id, dir_id) VALUES (901, 201);
INSERT Movie_Direction (mov_id, dir_id) VALUES (902, 202);
INSERT Movie_Direction (mov_id, dir_id) VALUES (903, 203);



INSERT Movie_Genres (mov_id, gen_id) VALUES (922, 1001);
INSERT Movie_Genres (mov_id, gen_id) VALUES (917, 1002);
INSERT Movie_Genres (mov_id, gen_id) VALUES (903, 1002);



INSERT Rating (mov_id, rev_id, rev_stars, num_o_ratings) VALUES (901, 9001, 8.40, 263575);
INSERT Rating (mov_id, rev_id, rev_stars, num_o_ratings) VALUES (902, 9002, 7.90, 20207);
INSERT Rating (mov_id, rev_id, rev_stars, num_o_ratings) VALUES (903, 9003, 8.30, 202778);



INSERT Reviewer (rev_id, rev_name) VALUES (9001, 'Righty Sock                   ');
INSERT Reviewer (rev_id, rev_name) VALUES (9002, 'Jack Malvern                  ');
INSERT Reviewer (rev_id, rev_name) VALUES (9003, 'Flagrant Baronessa            ');

